<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit <%= movie.movieName %></title>
</head>
<body>
    <h1>Edit <%= movie.movieName %></h1>
    
    <form action="/movies/<%= movie._id %>?_method=PUT" method="POST">
        <label for="movieName">Movie Name:</label>
        <input type="text" name="movieName" value="<%= movie.movieName %>" required />

        <label for="yearOfPublish">Year of Release:</label>
        <input type="text" name="yearOfPublish" value="<%= movie.yearOfPublish %>" required />

        <label for="rate">Rating (1-10):</label>
        <select name="rate" id="rate" required>
            <option value="1" <% if (movie.rate == 1) { %>selected<% } %>>1</option>
            <option value="2" <% if (movie.rate == 2) { %>selected<% } %>>2</option>
            <option value="3" <% if (movie.rate == 3) { %>selected<% } %>>3</option>
            <option value="4" <% if (movie.rate == 4) { %>selected<% } %>>4</option>
            <option value="5" <% if (movie.rate == 5) { %>selected<% } %>>5</option>
            <option value="6" <% if (movie.rate == 6) { %>selected<% } %>>6</option>
            <option value="7" <% if (movie.rate == 7) { %>selected<% } %>>7</option>
            <option value="8" <% if (movie.rate == 8) { %>selected<% } %>>8</option>
            <option value="9" <% if (movie.rate == 9) { %>selected<% } %>>9</option>
            <option value="10" <% if (movie.rate == 10) { %>selected<% } %>>10</option>
        </select>

        <label for="genre">Genre:</label>
        <select name="genre" id="genre" required>
            <option value="Action" <% if (movie.genre == 'Action') { %>selected<% } %>>Action</option>
            <option value="Comedy" <% if (movie.genre == 'Comedy') { %>selected<% } %>>Comedy</option>
            <option value="Drama" <% if (movie.genre == 'Drama') { %>selected<% } %>>Drama</option>
            <option value="Horror" <% if (movie.genre == 'Horror') { %>selected<% } %>>Horror</option>
            <option value="Romance" <% if (movie.genre == 'Romance') { %>selected<% } %>>Romance</option>
            <option value="Sci-Fi" <% if (movie.genre == 'Sci-Fi') { %>selected<% } %>>Sci-Fi</option>
            <option value="Animation" <% if (movie.genre == 'Animation') { %>selected<% } %>>Animation</option>
        </select>

        <div class="checkbox-div">
            <label for="isTop10">Is this movie in the Top 10?</label>
            <input type="checkbox" name="isTop10" <% if (movie.isTop10) { %>checked<% } %> />
        </div>

        <button type="submit">Update Movie</button>
    </form>

    <a class="movies-index-link" href="/movies">
        <div class="index-link-text">Back to Movies</div>
    </a>
</body>
</html>
