<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>
    <%= movie.movieName %>
  </title>
</head>

<body class="viewBackground">
  <header class="navbar">

    <div class="logo">
      <a href="/">🍿 MovieApp</a>
    </div>

    <div class="auth-links">
      <a class="BackButtonEdit" href="/movies">Back to Movies </a>
    </div>

  </header>
  <div class="showContainer">

    <h1>
      <%= movie.movieName %>
    </h1>


    <div class="movie-details">
      <p><strong>Year of Release:</strong>
        <%= movie.yearOfPublish %>
      </p>
      <p><strong>Rating:</strong>
        <%= movie.rate %>
      </p>
      <p><strong>Genre:</strong>
        <%= movie.genre %>
      </p>

      <% if (movie.isTop10) { %>
        <p class="top10">This movie is in the Top 10!</p>
        <% } else { %>
          <p class="not-top10">This movie is not in the Top 10.</p>
          <% } %>
    </div>

    <div class="movie-actions">
      <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST" class="delete-form">
        <button class="delete-button" type="submit">Delete</button>
      </form>

      <a class="edit-link" href="/movies/<%= movie._id %>/edit">
        <div>Edit</div>
      </a>

    </div>
    <footer class="footer">
      <p>&copy; 2025 MovieApp. All rights reserved.</p>
    </footer>
</body>

</html>